In [13]:
import pandas as pd
import numpy as np
import tensorflow as tf
import tensorflow.keras as keras

In [14]:
DF_train = pd.read_csv("data/train.csv")
DF_test = pd.read_csv("data/test.csv")

DF_train.drop(["Unnamed: 0","id"], axis=1, inplace=True)
DF_test.drop(["Unnamed: 0","id"], axis=1, inplace=True)

DF_train = DF_train.dropna()
DF_test = DF_test.dropna()

In [3]:
DF_train.head(5)

,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,3,1,...,5,4,3,4,4,5,5,25,18.0,neutral or dissatisfied
1,Male,disloyal Customer,25,Business travel,Business,235,3,2,3,3,...,1,1,5,3,1,4,1,1,6.0,neutral or dissatisfied
2,Female,Loyal Customer,26,Business travel,Business,1142,2,2,2,2,...,5,4,3,4,4,4,5,0,0.0,satisfied
3,Female,Loyal Customer,25,Business travel,Business,562,2,5,5,5,...,2,2,5,3,1,4,2,11,9.0,neutral or dissatisfied
4,Male,Loyal Customer,61,Business travel,Business,214,3,3,3,3,...,3,3,4,4,3,3,3,0,0.0,satisfied

In [5]:
DF_test.head(5)

,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,Female,Loyal Customer,52,Business travel,Eco,160,5,4,3,4,...,5,5,5,5,2,5,5,50,44.0,satisfied
1,Female,Loyal Customer,36,Business travel,Business,2863,1,1,3,1,...,4,4,4,4,3,4,5,0,0.0,satisfied
2,Male,disloyal Customer,20,Business travel,Eco,192,2,0,2,4,...,2,4,1,3,2,2,2,0,0.0,neutral or dissatisfied
3,Male,Loyal Customer,44,Business travel,Business,3377,0,0,0,2,...,1,1,1,1,3,1,4,0,6.0,satisfied
4,Female,Loyal Customer,49,Business travel,Eco,1182,2,3,4,3,...,2,2,2,2,4,2,4,0,20.0,satisfied

In [15]:
DF_train.Gender = (DF_train.Gender == "Male")*1                     # Male = 1 ; Femme = 0
DF_test.Gender = (DF_test.Gender == "Male")*1

DF_train.iloc[:,1] = (DF_train.iloc[:,1] == 'Loyal Customer')*1     # Loyal Customer = 1 ; disloyal Customer = 0
DF_test.iloc[:,1] = (DF_test.iloc[:,1] == 'Loyal Customer')*1

DF_train.iloc[:,3] = (DF_train.iloc[:,3] == 'Business travel')*1    # Business travel = 1 ; Personal Travel = 0
DF_test.iloc[:,3] = (DF_test.iloc[:,3] == 'Business travel')*1

DF_train.iloc[DF_train.iloc[:,4] == 'Business',4] = 2               # Business = 2
DF_train.iloc[DF_train.iloc[:,4] == 'Eco Plus',4] = 1               # Eco PLus = 1
DF_train.iloc[DF_train.iloc[:,4] == 'Eco',4] = 0                    # Eco = 0
DF_test.iloc[DF_test.iloc[:,4] == 'Business',4] = 2
DF_test.iloc[DF_test.iloc[:,4] == 'Eco Plus',4] = 1
DF_test.iloc[DF_test.iloc[:,4] == 'Eco',4] = 0

DF_train.iloc[:,-1] = (DF_train.iloc[:,-1] == 'satisfied')*1        # satisfied = 1 ; neutral or disatisfied = 0
DF_test.iloc[:,-1] = (DF_test.iloc[:,-1] == 'satisfied')*1

In [7]:
DF_train.head(5)

,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,1,1,13,0,1,460,3,4,3,1,...,5,4,3,4,4,5,5,25,18.0,0
1,1,0,25,1,2,235,3,2,3,3,...,1,1,5,3,1,4,1,1,6.0,0
2,0,1,26,1,2,1142,2,2,2,2,...,5,4,3,4,4,4,5,0,0.0,1
3,0,1,25,1,2,562,2,5,5,5,...,2,2,5,3,1,4,2,11,9.0,0
4,1,1,61,1,2,214,3,3,3,3,...,3,3,4,4,3,3,3,0,0.0,1

In [8]:
DF_test.head(5)

,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,0,1,52,1,0,160,5,4,3,4,...,5,5,5,5,2,5,5,50,44.0,1
1,0,1,36,1,2,2863,1,1,3,1,...,4,4,4,4,3,4,5,0,0.0,1
2,1,0,20,1,0,192,2,0,2,4,...,2,4,1,3,2,2,2,0,0.0,0
3,1,1,44,1,2,3377,0,0,0,2,...,1,1,1,1,3,1,4,0,6.0,1
4,0,1,49,1,0,1182,2,3,4,3,...,2,2,2,2,4,2,4,0,20.0,1

In [16]:
sample_train = DF_train.to_numpy()
sample_test = DF_test.to_numpy()

X_train = []
Y_train = []
X_test = []
Y_test = []

In [17]:
for i in range(len(sample_train)):
    X_train.append(sample_train[i][:-1])
    Y_train.append(sample_train[i][-1])
X_train = np.array(X_train)
Y_train = np.array(Y_train)

for i in range(len(sample_test)):
    X_test.append(sample_test[i][:-1])
    Y_test.append(sample_test[i][-1])
X_test = np.array(X_test)
Y_test = np.array(Y_test)

In [20]:
model = keras.Sequential()

model.add(keras.layers.Dense(128,activation="tanh"))
model.add(keras.layers.Dense(16,activation="softmax"))
model.add(keras.layers.Dense(1,activation="sigmoid"))

model.compile(optimizer="Adam",
                loss="binary_crossentropy",
                metrics=['accuracy'])

In [24]:
model.fit(X_train, Y_train, epochs=50, batch_size=512)

Epoch 1/50
103594/103594 [==============================] - 2s 19us/sample - loss: 0.1983 - acc: 0.9205
Epoch 2/50
103594/103594 [==============================] - 2s 19us/sample - loss: 0.1878 - acc: 0.9260
Epoch 3/50
103594/103594 [==============================] - 2s 19us/sample - loss: 0.1903 - acc: 0.9244
Epoch 4/50
103594/103594 [==============================] - 2s 20us/sample - loss: 0.1907 - acc: 0.9234
Epoch 5/50
103594/103594 [==============================] - 2s 19us/sample - loss: 0.1822 - acc: 0.9279
Epoch 6/50
103594/103594 [==============================] - 2s 19us/sample - loss: 0.1955 - acc: 0.9220
Epoch 7/50
103594/103594 [==============================] - 2s 22us/sample - loss: 0.1865 - acc: 0.9257
Epoch 8/50
103594/103594 [==============================] - 2s 21us/sample - loss: 0.1860 - acc: 0.9259
Epoch 9/50
103594/103594 [==============================] - 2s 21us/sample - loss: 0.1826 - acc: 0.9275
Epoch 10/50
103594/103594 [==============================] - 2s 21us/sample - loss: 0.1926 - acc: 0.9227
Epoch 11/50
103594/103594 [==============================] - 2s 24us/sample - loss: 0.1870 - acc: 0.9246
Epoch 12/50
103594/103594 [==============================] - 2s 23us/sample - loss: 0.1837 - acc: 0.9265
Epoch 13/50
103594/103594 [==============================] - 2s 22us/sample - loss: 0.1823 - acc: 0.9263
Epoch 14/50
103594/103594 [==============================] - 2s 23us/sample - loss: 0.1799 - acc: 0.9282
Epoch 15/50
103594/103594 [==============================] - 3s 24us/sample - loss: 0.1815 - acc: 0.9274
Epoch 16/50
103594/103594 [==============================] - 2s 22us/sample - loss: 0.1839 - acc: 0.9255
Epoch 17/50
103594/103594 [==============================] - 2s 22us/sample - loss: 0.1954 - acc: 0.9207
Epoch 18/50
103594/103594 [==============================] - 2s 22us/sample - loss: 0.1832 - acc: 0.9268
Epoch 19/50
103594/103594 [==============================] - 2s 24us/sample - loss: 0.1832 - acc: 0.9258
Epoch 20/50
103594/103594 [==============================] - 2s 23us/sample - loss: 0.1821 - acc: 0.9272
Epoch 21/50
103594/103594 [==============================] - 2s 23us/sample - loss: 0.1818 - acc: 0.9267
Epoch 22/50
103594/103594 [==============================] - 2s 22us/sample - loss: 0.1791 - acc: 0.9286
Epoch 23/50
103594/103594 [==============================] - 2s 24us/sample - loss: 0.1793 - acc: 0.9275
Epoch 24/50
103594/103594 [==============================] - 2s 22us/sample - loss: 0.1771 - acc: 0.9289
Epoch 25/50
103594/103594 [==============================] - 2s 21us/sample - loss: 0.1854 - acc: 0.9240
Epoch 26/50
103594/103594 [==============================] - 2s 22us/sample - loss: 0.1783 - acc: 0.9283
Epoch 27/50
103594/103594 [==============================] - 2s 22us/sample - loss: 0.1754 - acc: 0.9290
Epoch 28/50
103594/103594 [==============================] - 2s 22us/sample - loss: 0.1776 - acc: 0.9284
Epoch 29/50
103594/103594 [==============================] - 2s 22us/sample - loss: 0.1867 - acc: 0.9239
Epoch 30/50
103594/103594 [==============================] - 2s 21us/sample - loss: 0.1841 - acc: 0.9253
Epoch 31/50
103594/103594 [==============================] - 2s 22us/sample - loss: 0.1743 - acc: 0.9290
Epoch 32/50
103594/103594 [==============================] - 2s 21us/sample - loss: 0.1782 - acc: 0.9271
Epoch 33/50
103594/103594 [==============================] - 3s 26us/sample - loss: 0.1799 - acc: 0.9269
Epoch 34/50
103594/103594 [==============================] - 2s 23us/sample - loss: 0.1808 - acc: 0.9273
Epoch 35/50
103594/103594 [==============================] - 2s 21us/sample - loss: 0.1775 - acc: 0.9279
Epoch 36/50
103594/103594 [==============================] - 2s 22us/sample - loss: 0.1744 - acc: 0.9294
Epoch 37/50
103594/103594 [==============================] - 2s 22us/sample - loss: 0.1754 - acc: 0.9287
Epoch 38/50
103594/103594 [==============================] - 2s 22us/sample - loss: 0.1788 - acc: 0.9270
Epoch 39/50
103594/103594 [==============================] - 2s 21us/sample - loss: 0.1785 - acc: 0.9274
Epoch 40/50
103594/103594 [==============================] - 2s 21us/sample - loss: 0.1798 - acc: 0.9269
Epoch 41/50
103594/103594 [==============================] - 2s 21us/sample - loss: 0.1813 - acc: 0.9263
Epoch 42/50
103594/103594 [==============================] - 2s 21us/sample - loss: 0.1808 - acc: 0.9264
Epoch 43/50
103594/103594 [==============================] - 2s 21us/sample - loss: 0.1766 - acc: 0.9281
Epoch 44/50
103594/103594 [==============================] - 2s 22us/sample - loss: 0.1769 - acc: 0.9288
Epoch 45/50
103594/103594 [==============================] - 2s 21us/sample - loss: 0.1800 - acc: 0.9273
Epoch 46/50
103594/103594 [==============================] - 2s 22us/sample - loss: 0.1775 - acc: 0.9280
Epoch 47/50
103594/103594 [==============================] - 2s 22us/sample - loss: 0.1785 - acc: 0.9268
Epoch 48/50
103594/103594 [==============================] - 2s 21us/sample - loss: 0.1768 - acc: 0.9284
Epoch 49/50
103594/103594 [==============================] - 2s 21us/sample - loss: 0.1803 - acc: 0.9264
Epoch 50/50
103594/103594 [==============================] - 2s 21us/sample - loss: 0.1863 - acc: 0.9234

In [25]:
model.evaluate(X_test, Y_test)

25893/25893 [==============================] - 1s 42us/sample - loss: 0.1802 - acc: 0.9254

[0.1801512686365443, 0.92538524]